
<!--<body>-->
<!--  <div class="footer">-->
<!--    <ul class="social-network social-circle">-->
<!--      <li><a class="icoLinkedin" href="https://www.linkedin.com/in/priyank1205" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>-->
<!--      <li><a class="icoTwitter" href="https://twitter.com/priyank1205" title="Twitter"><i class="fa fa-twitter"></i></a></li>-->
<!--      <li><a class="icoMedium" href="https://medium.com/@priyank1205" title="Medium"><i class="fa fa-medium"></i></a></li>-->
<!--      <li><a class="icoQuora" href="https://www.quora.com/profile/Priyank-Agarwal-7" title="Quora"><i class="fa fa-quora"></i></a></li>-->
<!--      <li><a class="icoFacebook" href="https://www.facebook.com/priyank.agarwal1205" title="Facebook"><i class="fa fa-facebook"></i></a></li>-->
<!--      <li><a class="icoInstagram" href="https://www.instagram.com/priyank.agarwal1205/" title="Instagram"><i class="fa fa-instagram"></i></a></li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</body>-->





<div id="social">
    <div class="container ">
      <div class="row centered">
        <div class="col-lg-2">
          <a href="#"><i class="fa fa-dribbble"></i></a>
        </div>
        <div class="col-lg-2">
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <div class="col-lg-2">
          <a href="#"><i class="fa fa-twitter"></i></a>
        </div>
        <div class="col-lg-2">
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
        <div class="col-lg-2">
          <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
        <div class="col-lg-2">
          <a href="#"><i class="fa fa-tumblr"></i></a>
        </div>
      </div>
    </div>
</div>